@{
    ViewData["Title"] = "Landing";
}

<div class="container">
    <h3 class="lgsk text-center">welcome to</h3>
    <h1 class="wavez-title text-center">wavez</h1>
    <div class="button-row">
        <a href="/Usuario/Login" class="btn button">Iniciar Sesion</a>
        <a href="/Usuario/Registro" class="btn button">Registrarse</a>
    </div>
</div>
