/.github
/wavezGen/.vs/WavezGen
/wavezGen/InitializeDB
/wavezGen/WavezGen.ApplicationCore/bin
/wavezGen/WavezGen.ApplicationCore/obj
/wavezGen/WavezGen.Infraestructure/bin
/wavezGen/WavezGen.Infraestructure/obj
/wavezGen/WebWavez/bin
/wavezGen/WebWavez/obj