@model WebWavez.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">Editar datos</h1>

<hr />
<div class="center-container">
    <div class="">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" value="" placeholder="Introduce una nueva contraseña" autocomplete="new-password" />
                @* <input asp-for="Password" class="form-control" /> *@
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FotoPerfil" class="control-label"></label>
                <input asp-for="FotoPerfil" class="form-control" />
                <span asp-validation-for="FotoPerfil" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 mb-4 text-center">
                <input type="submit" value="Editar" class="btn button" />
            </div>
        </form>
        <div class="text-center">
            <a class="text-center" asp-action="Perfil">Volver</a>
        </div>
    </div>
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
    document.addEventListener("mousemove", (e) => {
            const circle = document.getElementById("mouse-circle");
            circle.style.transform = `translate(${e.pageX - 50}px, ${e.pageY - 50}px)`;
        });
    </script>
}
