@model WebWavez.Models.LoginUsuarioViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="lgsk text-center">welcome to</h3>
    <h1 class="wavez-title text-center">wavez</h1>
</div>

<h4 class="text-center">Iniciar Sesion</h4>
<hr />
<div class="center-container">
    <div class="">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">    
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group mt-2 mb-4 text-center">
                <input type="submit" value="Enviar" class="btn button" />
            </div>
        </form>
        <div class="text-center">
            <p class="text-center">¿Aún no tienes cuenta?</p>
            <a class="text-center" asp-area="" asp-controller="Usuario" asp-action="Registro">Regístrate</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
