html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    width: 20rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
      width: 100%;
      height: auto;
      display: block;
}

.estanteria-canciones {
  margin-top: 2rem;
  display: flex;
  flex-direction:row;
  gap: 20px;
  justify-content:center;
}

.estanteria-playlists {
  margin-top: 2rem;
  display: flex;
  flex-direction:row;
  gap: 20px;
  justify-content:center;
}

.estanteria-usuarios {
  margin-top: 2rem;
  display: flex;
  flex-direction:row;
  gap: 20px;
  justify-content:center;
}